In [1]:
import pandas as pd
import numpy as np

In [2]:
 budgetData = "Resources/budget_data.csv"

In [3]:
budgetDF = pd.read_csv(budgetData, encoding="UTF-8")
budgetDF.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [4]:
months = len(budgetDF.index)
print(months)

86

In [5]:
netPL = budgetDF["Profit/Losses"].sum()
print(netPL)

38382578

In [6]:
avgPL = netPL / months
roundedAvgPL = round(avgPL, 2)
print(roundedAvgPL)

446309.05

In [7]:
budgetDF["Difference"] = budgetDF["Profit/Losses"].diff()
budgetDF.head()

       Date  Profit/Losses  Difference
0  Jan-2010         867884         NaN
1  Feb-2010         984655    116771.0
2  Mar-2010         322013   -662642.0
3  Apr-2010         -69417   -391430.0
4  May-2010         310503    379920.0

In [8]:
avgDiff = budgetDF["Difference"].sum() / months
print(avgDiff)

-2288.1976744186045

In [9]:
budgetDF = budgetDF.sort_values("Difference", ascending = False)

In [10]:
budgetDF = budgetDF.reset_index(drop=True)
budgetDF.head()

       Date  Profit/Losses  Difference
0  Feb-2012        1170593   1926159.0
1  Dec-2013        1150461   1838447.0
2  Aug-2016         569899   1733696.0
3  Sep-2012         475062   1497596.0
4  Oct-2013         268997   1465222.0

In [11]:
bigUpObject = budgetDF.loc[0]
print(bigUpObject)

Date                Feb-2012
Profit/Losses        1170593
Difference       1.92616e+06
Name: 0, dtype: object

In [12]:
bigUpDate = bigUpObject[0]
print(bigUpDate)

Feb-2012

In [13]:
bigUp = bigUpObject[2]
print(bigUp)

1926159.0

In [14]:
budgetDF = budgetDF.sort_values("Difference", ascending = True)

In [15]:
budgetDF = budgetDF.reset_index(drop=True)
budgetDF.head()

       Date  Profit/Losses  Difference
0  Sep-2013       -1196225  -2196167.0
1  Jul-2016       -1163797  -1876758.0
2  Feb-2016       -1100387  -1750387.0
3  Aug-2012       -1022534  -1529236.0
4  Apr-2015        -524626  -1212159.0

In [16]:
bigDownObject = budgetDF.loc[0]
print(bigDownObject)

Date                Sep-2013
Profit/Losses       -1196225
Difference      -2.19617e+06
Name: 0, dtype: object

In [17]:
bigDownDate = bigDownObject[0]
print(bigDownDate)

Sep-2013

In [18]:
bigDown = bigDownObject[2]
print(bigDown)

-2196167.0

In [19]:
print("Financial Analysis \n--------------------------------------\nTotal Months: " + str(months) + "\nTotal: " + str(netPL))
print("Average Change: " + str(avgDiff) + "\nGreatest Increase in Profits: " + bigUpDate + " " + str(bigUp) + "\nGreatest Decrease in Profits: " + bigDownDate + " " + str(bigDown))
#print("Financial Analysis \n--------------------------------------\nTotal Months: " + str(months))

Financial Analysis
--------------------------------------
Total Months: 86
Total: 38382578
Average Change: -2288.1976744186045
Greatest Increase in Profits: Feb-2012 1926159.0
Greatest Decrease in Profits: Sep-2013 -2196167.0