In [1]:
import pandas as pd
import numpy as np

In [2]:
pollData = "election_data.csv"

In [3]:
pollDf = pd.read_csv(pollData, encoding="UTF-8")
pollDf.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [4]:
pollDf.describe()

           Voter ID
count  3.521001e+06
mean   1.500082e+07
std    2.886765e+06
min    1.000000e+07
25%    1.250072e+07
50%    1.500198e+07
75%    1.750010e+07
max    2.000000e+07

In [5]:
groupedPollVDf = pollDf.groupby("Voter ID")

In [6]:
voteCount = len(groupedPollVDf["Voter ID"].value_counts())
print(voteCount)

3521001

In [7]:
cands = pollDf["Candidate"]
print(cands)

0              Khan
1            Correy
2              Khan
3              Khan
4              Khan
5                Li
6            Correy
7              Khan
8              Khan
9            Correy
10             Khan
11           Correy
12             Khan
13             Khan
14           Correy
15             Khan
16           Correy
17           Correy
18             Khan
19           Correy
20           Correy
21           Correy
22           Correy
23             Khan
24             Khan
25             Khan
26             Khan
27             Khan
28             Khan
29           Correy
             ...
3520971        Khan
3520972        Khan
3520973      Correy
3520974        Khan
3520975        Khan
3520976    O'Tooley
3520977        Khan
3520978      Correy
3520979        Khan
3520980    O'Tooley
3520981        Khan
3520982        Khan
3520983          Li
3520984        Khan
3520985        Khan
3520986      Correy
3520987        Khan
3520988          Li
3520989        Khan
3520990        Khan
3520991      Correy
3520992        Khan
3520993        Khan
3520994      Correy
3520995      Correy
3520996        Khan
3520997        Khan
3520998        Khan
3520999        Khan
3521000    O'Tooley
Name: Candidate, Length: 3521001, dtype: object

In [8]:
votesPerCand = cands.value_counts(dropna = False)
print(votesPerCand)

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

In [9]:
totalsDf = pd.Series.to_frame(votesPerCand)
totalsDf.head(5)

          Candidate
Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630

In [10]:
totalsDf.index.names = ["Candidate"]
totalsDf.columns = ["Total Votes"]
totalsDf

           Total Votes
Candidate
Khan           2218231
Correy          704200
Li              492940
O'Tooley        105630

In [11]:
one = totalsDf.iloc[0]
two = totalsDf.iloc[1]
three = totalsDf.iloc[2]
four = totalsDf.iloc[3]
print(one)
print(two)
print(three)
print(four)

Total Votes    2218231
Name: Khan, dtype: int64
Total Votes    704200
Name: Correy, dtype: int64
Total Votes    492940
Name: Li, dtype: int64
Total Votes    105630
Name: O'Tooley, dtype: int64

In [12]:
onePercent = (one.values / voteCount) * 100
onePercentV = np.round(onePercent[0], 3)
onePercentV

63.0

In [13]:
twoPercent = (two.values / voteCount) * 100
twoPercentV = np.round(twoPercent[0], 3)
twoPercentV

20.0

In [14]:
threePercent = (three.values / voteCount) * 100
threePercentV = np.round(threePercent[0], 3)
threePercentV

14.0

In [15]:
fourPercent = (four.values / voteCount) * 100
fourPercentV = np.round(fourPercent[0], 3)
fourPercentV

3.0

In [16]:
outputeLine = "Election Results\n-------------------------------\nTotal Votes: " + str(voteCount) + "\n-------------------------------\n" + str(one.name) + ": " + str(onePercentV) + "% (" + str(one[0]) + ")\n" + str(two.name) + ": " + str(twoPercentV) + "% (" + str(two[0]) + ")\n" + str(three.name) + ": " + str(threePercentV) + "% (" + str(three[0]) + ")\n" + str(four.name) + ": " + str(fourPercentV) + "% (" + str(four[0]) + ")\n--------------------------------\nWinner: " + str(one.name)+ "\n-------------------------------"
print(outputeLine)

Election Results
-------------------------------
Total Votes: 3521001
-------------------------------
Khan: 63.0% (2218231)
Correy: 20.0% (704200)
Li: 14.0% (492940)
O'Tooley: 3.0% (105630)
--------------------------------
Winner: Khan
-------------------------------

In [17]:
f = open('Election Results.txt','w')
f.write(outputLine)
f.close()

NameError: name 'outputLine' is not defined